Django==4.1.1
gdown==4.5.1
gunicorn==20.1.0
imutils==0.5.4
keras==2.10.0
Keras-Preprocessing==1.1.2
numpy==1.23.3
opencv-python==4.6.0.66
Pillow==9.2.0
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
tqdm==4.64.1
typing_extensions==4.3.0
whitenoise==6.2.0